
@import url("../bootstrap/css/bootstrap.min.css");
@import url("../bootstrap/icons/bootstrap-icons.min.css");

@font-face {
    font-family: 'century gothic';
    src:
        url('../fonts/centurygothic.ttf'),
        url('../fonts/centurygothic_bold.ttf');
}

:root {
    --t-font-size-base: 1rem;
    --t-background: #01013E;
    --t-primary: #ffff;
    --t-primary-neutral: #7146EC;
    --t-primary-emphasis: #F967B5;
    --t-secondary-emphasis: #FF4A06;
    --t-dark: #313131;
    
    --t-background-4: rgba(1, 1, 62, .4);
    --t-primary-4: rgba(255, 255, 255, .4);
    --t-primary-neutral-4: rgba(113, 70, 236, .4);
    --t-primary-emphasis-4: rgba(249, 103, 181, .4);
    --t-secondary-emphasis-4: rgba(255, 74, 6, .4);
    --t-dark-4: rgba(31, 31, 31, 0.4);

}

*{
    font-family: 'century gothic';
    color: var(--t-primary);
    font-size: var(--t-font-size-base);
}

body{
    background-color: var(--t-background);
}

h1, h1 > * {
    font-size: calc(var(--t-font-size-base) * 2.5) !important;
    font-weight: 700;
}
h2, h2 > * {
    font-size: calc(var(--t-font-size-base) * 2) !important;
    font-weight: 700;
}

h3, h3 > * {
    font-size: calc(var(--t-font-size-base) * 1.75) !important;
    font-weight: 700;
}

h4, h4 > * {
    font-size: calc(var(--t-font-size-base) * 1.5) !important;
    font-weight: 700;
}

h5, h5 > * {
    font-size: calc(var(--t-font-size-base) * 1.25) !important;
    font-weight: 700;
}

h6, h6 > * {
    font-size: var(--t-font-size-base) !important;
    font-weight: 700;
}

.t-color-primary{
    color: var(--t-primary);
}

.t-color-primary{
    color: var(--t-primary);
}

.t-color-primary-neutral{
    color: var(--t-primary-neutral);
}

.t-color-primary-emphasis{
    color: var(--t-primary-emphasis);
}

.t-color-secondary-emphasis{
    color: var(--t-secondary-emphasis);
}

.t-container{
    padding-left: 8rem;
    padding-right: 8rem;
    width: 100% !important;
}

.t-service-card {
    width: 85%;
}

.t-service-icon>img {
    min-height: 288px;
    min-width: 288px;
    max-height: 288px;
    max-width: 288px;
}

.t-btn {
    background: none;
    border: none;
    text-decoration: none;
    padding: 10px 20px 10px 20px;

}

.t-btn[disabled] {
    background-color: rgb(182, 182, 182) !important;
}

.t-btn[disabled]:hover {
    background-color: rgb(182, 182, 182) !important;
    cursor:default;
    box-shadow: inset 0 0 10px 7px var(--t-dark-4) !important;
}

.t-btn.t-btn-primary {
    border: solid 0px !important;
    background-color: var(--t-primary);
    box-shadow: inset 0 0 10px 7px var(--t-dark-4);
    font-weight: bold;
    color: var(--t-dark) !important;
}

.t-btn.t-btn-primary:hover {
    box-shadow: 0 0 10px 7px var(--t-primary-4);
}

.t-btn.t-btn-out-primary {
    border: solid 0px !important;
    /* borde interno simetrico 
    ver en: https://www.desarrollolibre.net/blog/css/truco-para-los-bordes-en-css-bordes-internos*/
    box-shadow: inset 0 0 0 1px var(--t-primary);
    font-weight: bold;
    color: var(--t-primary) !important;
}

.t-btn.t-btn-out-primary:hover {
    background-color: var(--t-primary);
    box-shadow: 0 0 10px 7px var(--t-primary-4);
    font-weight: bold;
    color: var(--t-dark) !important;
}

.t-btn.t-btn-neutral {
    border: solid 0px !important;
    background-color: var(--t-primary-neutral);
    box-shadow: inset 0 0 10px 7px var(--t-dark-4);
    font-weight: bold;
    color: var(--t-primary) !important;
}

.t-btn.t-btn-neutral:hover {
    box-shadow: 0 0 10px 7px var(--t-primary-neutral-4);
}

.t-btn.t-link {
    color: var(--t-primary);
}

.t-btn.t-link:hover {
    /* borde interno simetrico 
    ver en: https://www.desarrollolibre.net/blog/css/truco-para-los-bordes-en-css-bordes-internos*/
    box-shadow: inset 0 0 0 1px var(--t-primary);
}

.t-btn.t-link.active {
    border: solid 0px !important;
    background-color: var(--t-primary);
    box-shadow: inset 0 0 10px 7px rgb(194, 194, 194);
    font-weight: bold;
    color: black !important;
}

.t-navbar {
    position: fixed;
    padding-top: 10px;
}

.t-navbar-logo {
    width: 140px;
}

.t-navbar-links {
    width: 540px;
}

.t-navbar-exta-link {
    width: 140px;
}

.t-navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.2s ease;
}

.t-navbar-container.t-navbar-collapse{
    width: 790px !important;
}

.t-nb-sec-logo {
    display: none;
}

.t-navbar-container.t-navbar-collapse>.t-navbar-logo{
    width: 60px;
    background-color: rgba(1, 1, 62, 0.6);
    backdrop-filter: blur(30px); /*brightness(90%);*/
    border-radius: 50%;
}

.t-navbar-container.t-navbar-collapse>.t-navbar-logo>a>.t-nb-logo{
    display: none;
}
.t-navbar-container.t-navbar-collapse>.t-navbar-logo>a>.t-nb-sec-logo{
    display: block;
}

.t-navbar-container.t-navbar-collapse>.t-navbar-links{
    height: 60px;
    border-radius: 30px;
    background-color: rgba(1, 1, 62, 0.6);
    backdrop-filter: blur(30px);
}

.t-navbar-bg {
    background-color: #01013e7f;
    backdrop-filter: blur(10px);
}

.t-navbar-toggler{
    height: 50px;
    width: 50px;
}

.t-navbar-toggler:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.t-cover {
    padding-top: 120px;
}

.t-cover-logo>img {
    height: 400px;
}

.t-cover-bg {
    background-image: 
        radial-gradient(ellipse 100% 180% at 60% 30%, rgba(255, 74, 6, 0.4) 0%, rgba(1, 1, 62, 0.0) 30%),
        radial-gradient(ellipse 100% 130% at 45% 45%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 30%);
}

.t-undercover {
    opacity: 1;
    background-color: var(--t-background);
    transition: opacity 2s ease-in;
}

.t-undercover.going-dark {
    opacity: 0;
}

.t-service-card-bg {
    border-radius: 60px;
    box-shadow: -40px 0 20px 10px var(--t-primary-neutral-4);
    background-image: 
        radial-gradient(ellipse 80% 120% at 10% center, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 100%);
}

.t-service-card-reverse.t-service-card-bg {
    border-radius: 60px;
    box-shadow: 40px 0 20px 10px var(--t-primary-neutral-4);
    background-image: 
        radial-gradient(ellipse 80% 120% at 90% center, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 100%);
}

.t-about-bg {
    background-image: 
        radial-gradient(ellipse 100% 50% at 15% 20%,rgba(255, 74, 6, 0.4) 0%, rgba(1, 1, 62, 0.0) 50%),
        radial-gradient(ellipse 100% 30% at 10% 40%,rgba(255, 74, 6, 0.2) 0%, rgba(1, 1, 62, 0.0) 80%),
        radial-gradient(ellipse 100% 30% at 40% 25%,rgba(255, 74, 6, 0.2) 0%, rgba(1, 1, 62, 0.0) 80%),
        radial-gradient(ellipse 100% 45% at 100% 70%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 65%);
}

.t-about-img {
    border-radius: 50%;
    border: solid 1px var(--t-primary-neutral);
    box-shadow: 0 0 100px 60px var(--t-primary-neutral-4);
}

.t-about-img>div{
    background-image: url('../img/fotoperfilcircular.png') ;
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    box-shadow: inset 0 0 50px 50px var(--t-primary-neutral-4);
    border-radius: 50%;
}

.t-contact-bg {
    background-image: 
        radial-gradient(ellipse at -20% 80%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 30%),
        radial-gradient(ellipse at 120% 110%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 65%);
}

/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .t-service-card {
        width: 100%;
        padding: 10px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .t-service-icon>img {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
    }
    .t-service-icon{
        margin-left: auto;
        margin-right: auto;
    }
    .t-service-card-bg {
        border-radius: 60px;
        box-shadow: 0px -10px 20px 10px var(--t-primary-neutral-4) !important;
        background-image: 
            radial-gradient(ellipse 80% 120% at center 10%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 100%) !important;
    }

    .t-cover {
        padding-top: 40px;
    }

    .t-cover-logo>img {
        height: 300px;
    }

    .t-cover-bg {
        background-image: 
            radial-gradient(ellipse 100% 180% at 60% 15%, rgba(255, 74, 6, 0.4) 0%, rgba(1, 1, 62, 0.0) 50%),
            radial-gradient(ellipse 100% 130% at 45% 30%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 50%);
    }

    .t-about-img {
        border-radius: 50%;
        border: solid 1px var(--t-primary-neutral);
        box-shadow: 0 0 70px 30px var(--t-primary-neutral-4);
    }

    .t-about-img>div{
        background-image: url('../img/fotoperfilcircular.png') ;
        background-size: 100% 100%;
        width: 300px;
        height: 300px;
        box-shadow: inset 0 0 20px 20px var(--t-primary-neutral-4);
        border-radius: 50%;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .t-service-card {
        width: 80% !important;
        padding: 10px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .t-service-icon>img {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
    }
    .t-service-icon{
        margin-left: auto;
        margin-right: auto;
    }
    .t-service-card-bg {
        border-radius: 60px;
        box-shadow: 0px -10px 20px 10px var(--t-primary-neutral-4) !important;
        background-image: 
            radial-gradient(ellipse 80% 120% at center 10%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 100%) !important;
    }

    .t-cover {
        padding-top: 50px;
    }

    .t-cover-logo>img {
        height: 350px;
    }
    .t-cover-bg {
        background-image: 
            radial-gradient(ellipse 100% 180% at 60% 20%, rgba(255, 74, 6, 0.4) 0%, rgba(1, 1, 62, 0.0) 40%),
            radial-gradient(ellipse 100% 130% at 45% 35%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 40%);
    }

    .t-about-img {
        border-radius: 50%;
        border: solid 1px var(--t-primary-neutral);
        box-shadow: 0 0 80px 40px var(--t-primary-neutral-4);
    }

    .t-about-img>div{
        background-image: url('../img/fotoperfilcircular.png') ;
        background-size: 100% 100%;
        width: 350px;
        height: 350px;
        box-shadow: inset 0 0 30px 30px var(--t-primary-neutral-4);
        border-radius: 50%;
    }
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (min-width: 767.98px) and (max-width: 991.98px) {

    .t-service-card {
        min-width: 380px;
        max-width: 60%;
        padding: 10px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .t-service-icon>img {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
    }
    .t-service-icon{
        margin-left: auto;
        margin-right: auto;
    }

    .t-service-card-bg {
        border-radius: 60px;
        box-shadow: 0px -10px 20px 10px var(--t-primary-neutral-4) !important;
        background-image: 
            radial-gradient(ellipse 80% 120% at center 10%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 100%) !important;
    }

    .t-cover {
        padding-top: 60px;
    }

    .t-cover-logo>img {
        height: 375px;
    }

    .t-cover-bg {
        background-image: 
            radial-gradient(ellipse 100% 180% at 60% 25%, rgba(255, 74, 6, 0.4) 0%, rgba(1, 1, 62, 0.0) 35%),
            radial-gradient(ellipse 100% 130% at 45% 40%, rgba(114, 70, 236, 0.4) 0%, rgba(1, 1, 62, 0.0) 35%);
    }

    .t-about-img {
        border-radius: 50%;
        border: solid 1px var(--t-primary-neutral);
        box-shadow: 0 0 90px 50px var(--t-primary-neutral-4);
    }

    .t-about-img>div{
        background-image: url('../img/fotoperfilcircular.png') ;
        background-size: 100% 100%;
        width: 375px;
        height: 375px;
        box-shadow: inset 0 0 40px 40px var(--t-primary-neutral-4);
        border-radius: 50%;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
    .t-container{
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100% !important;
    }
}

.t-badge{
    border: solid 0px !important;
    background-color: var(--t-primary);
    box-shadow: inset 0 0 10px 7px var(--t-dark-4);
    padding: 5px 10px;
    font-weight: bold;
    color: var(--t-dark) !important;
}

.t-icon-svg{
    display: inline-block;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    color: var(--t-primary) !important;
}


/*

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }
*/