.t-container {
    --t-container-padding: 123px;
}

.t-cover-bg {
    --t-cover-bg-transition: 500px;
    --t-cover-bg-height: 100%;
    --t-cover-bg-width: 100%;
}

.dark .t-cover-bg {
    --t-cover-bg-orange-transition: 220px;
    --t-cover-bg-blue-transition: 190px;

    --t-cover-bg-height: 100%;
    --t-cover-bg-width: 100%;
}

.t-about-container {
    --t-about-container-padding: 60px;
}

.t-about-img>div {
    --t-about-img-sizes: 326px;
}



/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    * {
        --t-font-size-base: 16px !important;
    }

    .t-container {
        --t-container-padding: 20px;
    }

    .t-cover-bg {
        --t-cover-bg-transition: 90%;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .t-cover-bg {
        --t-cover-bg-transition: 200%;
        --t-cover-bg-height: 118vw;
    }

    .t-about-container {
        --t-about-container-padding: 0px;
    }

    .t-about-img>div {
        --t-about-img-sizes: 270px;
    }
}

/* !!!! SOLO PARA EL FONDO GRADIENTE DEL COVER  */
@media (max-width: 880px) {
    .dark .t-cover-bg {
        --t-cover-bg-orange-transition: calc(80% / 3);
        --t-cover-bg-blue-transition: calc(70% / 3);
        --t-cover-bg-height: 118vw;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .t-cover-bg {
        --t-cover-bg-transition: 50%;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .t-cover-bg {
        --t-cover-bg-transition: 40%;
    }
}

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
    .t-container {
        --t-container-padding: 60px;
    }
    .t-cover-bg {
        --t-cover-bg-transition: 35%;
    }
}
